<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href='{% static "authorization/css/normalize.css" %}'>
    <link rel="stylesheet" type="text/css" href='{% static "authorization/css/styles2.css" %}'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Habibi&family=Ubuntu:wght@400;500;700&display=swap" rel="stylesheet">
    <title>Authorization</title>
</head>

<body>
    <div class="container">
        <img src='{% static "authorization/img/bg2.png" %}' alt="animebg" class="animebg">
        <div class="header">
            <a href="#" class="item">Логотип</a>
            <div class="head">
                <a href="#" class="item2">Хедер</a>
                <a href="#" class="item2">Хедер</a>
                <a href="#" class="item2">Хедер</a>
                <a href="#" class="item2">Хедер</a>
            </div>
        </div>
        <h1 class="txt1">Создаем лучший сервис для <br> 
            прослушивания и чтения ранобэ</h1>
            <a href="#"><img src='{% static "authorization/img/arrowlol.png" %}' alt="arrow" class="arrow"></a>
        <div class="block2">
            <h1 class="txt2">Большая библиотека <br> интересных тайтлов</h1>
            <p class="txt3">Здесь вы найдёте любые интересующие <br> вас произведения японской культуры </p>
            <div class="block2-line"></div>
            <div class="block-img">
                <img src='{% static "authorization/img/picdick.png" %}' alt="ranobe">
                <img src='{% static "authorization/img/picdick2.png" %}' alt="ranobe2">
                <img src='{% static "authorization/img/picdick3.png" %}' alt="ranobe3">
            </div>
        </div>
        <div class="block3">
            <img src='{% static "authorization/img/block3.png" %}' alt="block3">
        </div>
        <div class="block4">
            <h1 class="txt4">Читателям</h1>
            <p class="txt5">Вы сможете найти старые и <br> новые тайтлы в ваших любимых <br> озвучках или заказать новые</p>
            <h1 class="txt6">Авторам</h1>
            <p class="txt7">Вы получите удобную площадку <br> для публикации своих работ и <br> новую аудиторию</p>
            <div class="block-img2">
                <img src='{% static "authorization/img/ico_book.png" %}' alt="book">
                <img src='{% static "authorization/img/ico_pen.png" %}' alt="book">
            </div>
        </div>
        <div class="block5">
             <h1 class="txt8">Регистрация</h1>
             <p class="txt9">Предлагаем принять участие <br>
                в альфа-тестировании нашего <br>
                проекта!</p>
                <div class="block5-line"></div>
            <form action="" method="POST">
                <p class="txt10">Поле для заполнения</p>
                {% csrf_token %}
                <input type="email" name="email" id="email" placeholder="Почта" required>
                <input type="text" name="name" id="name" placeholder="Ваше имя" required>
                {% if exist_email %}
                    <p class="exist_email">Такая почта или логин уже существует!</p>
                {% elif correct_add %}
                    <p class="correct_add">Ваши данные успешно добавлены</p>
                {% endif %}
                <a href="#"></a><input type="submit" id="submit" value="Отправить">
            </form>
        </div>
        <div class="block6">
            <h1 class="txt11">О проекте</h1>
            <p class="txt12">Мы заметили отстутсвие удобных сервисов <br>
                для чтения ранобэ, поэтому мы придумали <br>
                решение этой проблемы - воплощение <br> нашего сайта</p>
            <h1 class="txt13">Каждый пользователь убедится</h1>
            <ul class="txt14">
                <li>в удобности нашего сайта</li>
                <li>в качестве проделанной работы</li>
                <li>в достоинствах этого сервиса </li>
                <li>в практичности новых трендов</li>
            </ul>
            <div class="footer">
                <p class="txt15">Мы в соцсетях</p>
                <a href="#"><img class="vk" src='{% static "authorization/img/iconVK.png" %}' alt="vk"></a>
                <a href="#"><img class="yt" src='{% static "authorization/img/iconYouTube.png" %}' alt="youtube"></a>
                <a href="#"><img class="twit" src='{% static "authorization/img/iconTwitter.png" %}' alt="twitter"></a>
                <a href="#"><img class="fb" src='{% static "authorization/img/iconFB.png" %}' alt="facebook"></a>
                <p class="txt16">Связаться с нами</p>
                <a href="#"><p class="txt17">example@gmail.com</p></a>
            </div>
        </div>
    </div>
</body>
</html>