<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href='{% static "authorization/css/normalize.css" %}'>
    <link rel="stylesheet" type="text/css" href='{% static "authorization/css/styles2.css" %}'>
    <link rel="preconnect" href='{% static "https://fonts.googleapis.com" %}'>
    <link rel="preconnect" href='{% static "https://fonts.gstatic.com" crossorigin %}'>
    <link href='{% static "https://fonts.googleapis.com/css2?family=Habibi&family=Ubuntu:wght@400;500;700&display=swap" %}' rel="stylesheet">
    <title>promo</title>
</head>
<body>
    <div class="container">
        <img src='{% static "authorization/images/bg2.png" %}' alt="animebg" class="animebg">
        <div class="header">
            <a href="#" class="item">Логотип</a>
            <div class="head">
                <a href="#block2" class="item2">Преимущества</a>
                <a href="#block4as" class="item2">Пользователям</a>
                <a href="#block5" class="item2">Регистрация</a>
                <a href="#block6" class="item2">О нас</a>
            </div>
        </div>
        <h1 class="txt1">Создаем лучший сервис для <br> 
            прослушивания и чтения ранобэ</h1>
            <div class="arrow" >
                <a href="#block2"><img src='{% static "authorization/images/arrowlol.png" %}' alt="arrow"></a>
            </div>
        <div class="block2" id = "block2">
            <h1 class="txt2">Большая библиотека <br> интересных тайтлов</h1>
            <p class="txt3">Здесь вы найдёте любые интересующие <br> вас произведения японской культуры </p>
            <div class="block2-line"></div>
            <div class="block-img">
                <img src='{% static "authorization/images/picdick.png" %}' alt="ranobe">
                <img src='{% static "authorization/images/picdick2.png" %}' alt="ranobe2">
                <img src='{% static "authorization/images/picdick3.png" %}' alt="ranobe3">
            </div>
        </div>
        <div class="block3" id = "block3">
            <img src='{% static "authorization/images/block3.png" %}' alt="block3">
        </div>
        <div class="block4" id = "block4as">
            <div class="block4__content">
                <h1 class="txt4" id = "block4a">Читателям</h1>
                <p class="txt5">Вы сможете найти старые и <br> новые тайтлы в ваших любимых <br> озвучках или заказать новые</p>
                <h1 class="txt6">Авторам</h1>
                <p class="txt7">Вы получите удобную площадку <br> для публикации своих работ и <br> новую аудиторию</p>
                <div class="block-img2">
                    <img src='{% static "authorization/images/ico_book.png" %}' alt="book">
                    <img src='{% static "authorization/images/ico_pen.png" %}' alt="book">
                </div>
            </div>
        </div>
        <div class="block5" id = "block5">
             <h1 class="txt8">Регистрация</h1>
             <p class="txt9">Предлагаем принять участие <br>
                в альфа-тестировании нашего <br>
                проекта!</p>
            <div class="block5-line"></div>
                <form action="" method="POST">               
                <p class="txt10">Поле для заполнения</p>
                {% csrf_token %}
                <input type="email" name="email" id="email" placeholder="Почта" required>
                <input type="text" name="name" id="name" placeholder="Ваше имя" required>
                <!--{% if got_error %}-->
                <!--<p class="got_error">Такая почта или логин уже существует</p>-->
                <!--{% endif %}-->
                <input type="submit" id="submit" value="Отправить">
            </form>
        </div>
        <div class="block6" id = "block6">
            <h1 class="txt11">О проекте</h1>
            <p class="txt12">Мы заметили отстутсвие удобных сервисов <br> для чтения ранобэ, поэтому мы придумали <br> решение этой проблемы - воплощение <br> нашего сайта</p>
            <h1 class="txt13">Каждый пользователь убедится</h1>
            <ul class="txt14">
                <li>в удобности нашего сайта</li>
                <li>в качестве проделанной работы</li>
                <li>в достоинствах этого сервиса </li>
                <li>в практичности новых трендов</li>
            </ul>
            <div class="footer">
                <p class="txt15">Мы в соцсетях</p>
                <a href="#"><img class="vk" src='{% static "authorization/images/iconVK.png" %}' alt="vk"></a>
                <a href="#"><img class="yt" src='{% static "authorization/images/iconYouTube.png" %}' alt="youtube"></a>
                <a href="#"><img class="twit" src='{% static "authorization/images/iconTwitter.png" %}' alt="twitter"></a>
                <a href="#"><img class="fb" src='{% static "authorization/images/iconFB.png" %}' alt="facebook"></a>
                <p class="txt16">Связаться с нами</p>
                <a href="#"><p class="txt17">example@gmail.com</p></a>
            </div>
        </div>
    </div>
</body>
</html>